[user]
	name = Saren Currie
	email = mail@sarencurrie.com
	username = Saren Currie
[color]
	ui = auto
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	quotepath = false
[log]
	decorate = true
